

@media screen and (max-width:1199px){
	.welcome-hero-txt h2{font-size: 40px;}
	.welcome-btn.model-search-btn {margin-left: 28px;}
	.featured-cars-img {padding: 0 10px;}
}/*max-width:1199px*/

@media screen and (max-width:1024px){

}/*max-width:1024px*/

@media screen and (max-width:1008px){

}/*max-width:1008px*/

@media screen and (max-width:992px){
	nav.navbar.bootsnav .navbar-collapse.collapse.in {padding-bottom: 30px;}
	nav.navbar.bootsnav {background-color:#000;}
	.wrap-sticky nav.navbar.bootsnav.sticked ul.nav > li > a {padding: 18px 0px;}
	nav.navbar.bootsnav .navbar-brand {padding: 25px;}
	nav.navbar.bootsnav ul.nav > li > a {padding: 15px 0px;border: transparent;}
}/*max-width:992px*/

@media screen and (min-width:1000px){
.owl-carousel-stacked .owl-prev {
    left: -40px;
  }
  
  .owl-carousel-stacked .owl-next {
    right: -40px;
  }
  .colformimg
  {
    position: relative;
  }
  .colformimg img
  {
	position: absolute;
    top: -111px;
    padding: 0;
    margin: 0;
  }



}

@media screen and (max-width:1000px){
	.owl-carousel-stacked .owl-prev {
		left: 0;
	  }
	  
	  .owl-carousel-stacked .owl-next {
		right: 0;
	  }

}

@media screen and (min-width:992px)
{
	.rowform
	{
		display: flex;
	}
}

@media screen and (max-width:991px){
	.welcome-hero-txt h2 {line-height: 1.2;}

	.model-search-content .col-sm-12 {padding: 0 40px;}
	.single-model-search:last-child {margin-bottom: 30px;}
	.welcome-btn.model-search-btn {margin: 0;}

	.single-new-cars-item {max-width: 450px; margin: 0 auto;}
	.new-cars-txt {margin: 30px 0;}
}/*max-width:991px*/

@media screen and (max-width:768px){
	.welcome-hero-txt
	{
		width: 100%;
		padding: 28px 19px 37px;
	}
	.titlestick
	{
		left: 40%;
		top: 9px;
		width: 30%;
	}
	.listnavmenu
	{
		flex-direction: column;
		display: flex;	
		float: right;
	}
	.welcome-hero-txt .first-title
	{
		font-size: 36px;
	}
	.welcome-hero-txt p
	{
		font-size: 15px;
		margin: 17px auto 34px;
	}
	.returnline
	{
		display: none;
	}
	.welcome-hero-txt a
	{
		float: right;
		margin-top: -20px;
	}
	.featured-cars-content
	{
		padding-top: 2px;
	}
	.featured-cars
	{
		padding: 24px 0 10px;
	}
	.textform
	{
		font-size: 17px;
		padding:10px 10px 10px 1px;
	}
	.section-header p
	{
		font-size: 14px;
		text-align:justify;
	}
	.textsecondform
	{
		font-size: 19px;
		text-align: center;
		margin: 0 auto;
		width: 100%;
		display: block;
	}
	.rowform .form-group
	{
		padding: 8px 0px;
	}

	.colformchauff
	{
		order:2;
	}

	.textsecondform hr 
	{
		text-align: center;
		margin: 8px auto 27px;
	}
	.titlecasecar 
	{
		text-align: center;
		margin: 0 auto;
		width: 100%;
		display: block;
	}
	.textsecondform .servicebtns
	{
		padding: 19px 29px;
	}
	#inline_cal
	{
		float: none;
		text-align: center;
		margin: 0 auto;
	}
	.featured-second-form .rowform 
	{
	  padding-top:0px;
	}
	.section-header h2
	{
		font-size: 20px;
	}
	.featured-form
	{
		padding:0px 0 40px;

	}
    
}/*max-width:768px*/

@media screen and (max-width:767px){
	.single-service-item {max-width: 350px;margin: 30px auto;}
	.single-featured-cars {max-width: 350px;margin: 0 auto;}
	.footer-social {text-align: left;}
	.footer-social a i {margin-right: 16px;margin-left: 0;}
	.hm-foot-email {max-width: 300px;}
}/*max-width:767px*/

@media screen and (max-width: 660px){

}/*max-width:660px*/

@media screen and (max-width: 640px){
	.single-testimonial-box {max-width: 350px;margin: 0 auto;}
	.single-footer-widget.first-col-footer::after
	{
		content: '';
		width: 4px;
		rotate: 90deg;
		bottom: 0;
		height: 23px;
		right: inherit;
	}
	.last-col-footer::before
	{
		width: 4px;
		rotate: 90deg;
		top: -27px;
		left: inherit;
	}
}/*max-width:640px*/

@media screen and (max-width: 580px){

}/*max-width:580px*/

@media screen and (max-width: 540px){

}/*max-width:540px*/

@media screen and (max-width: 480px){
	.welcome-hero h2 {font-size: 24px;}
	.single-model-search h2 {font-size:16px;}
}/*max-width:480px*/

@media screen and (max-width: 440px){
	/* .welcome-hero-txt h2{font-size: 24px;line-height: 1.5;} */
	
}/*max-width:400px*/

@media screen and (max-width: 399px){
	.testimonial-carousel .col-sm-3, .testimonial-carousel .col-xs-12 {width: 260px;}
	.single-service-item h2 a {line-height: 1.5;}
	.section-header h2 {font-size: 20px;}
}/*max-width:399px*/

@media screen and (max-width:350px){
	nav.navbar.bootsnav .navbar-toggle {margin-right: -25px;left:-10px;}
	nav.navbar.bootsnav .navbar-brand {padding:25px 0;font-size: 20px;}
	.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand, .wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:hover,.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:focus {padding: 25px 0px;}
}/*max-width:350px*/

@media screen and  (max-width: 320px){
	
}/*max-width:320px*/

